*.VC.db
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.txt
*.bin
*.tmp
*.idb
*.tlog
*.res
*.ini
*.iss
*.dll
[Bb]in
[Dd]ebug*/
_output/
*.lib
!mbedTLS.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.VC.db
*.VC.opendb
*.png
!HPLogoPNG.png
!HPLogo256.png
*.bin
*.bin.sig
*.exp
*.rfw
*.7z
*.ipdb
*.iobj
*.dat
*.H84
*.H60
*.dat
*.xml